/* components/Container.module.css */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    text-decoration-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd; /* Border default */
}

/* Modifier for different sizes */
.container--kecil {
    max-width: 600px;
    padding: 5px;
    border: 2px solid red; /* Border untuk menandakan ukuran kecil */
}

.container--medium {
    max-width: 900px;
    padding: 5px;
    border: 2px solid blue; /* Border untuk menandakan ukuran medium */
}

.container--large {
    max-width: 1200px;
    padding: 5px;
    border: 2px solid green; /* Border untuk menandakan ukuran besar */
}

.container--xlarge {
    max-width: 1500px;
    padding: 5px;
    border: 2px solid orange; /* Border untuk menandakan ukuran sangat besar */
}

.container--xxlarge {
    max-width: 1800px;
    padding: 5px;
    border: 2px solid purple; /* Border untuk menandakan ukuran extra besar */
}